[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple
User=forbabushkin
WorkingDirectory=/home/forbabushkin/reddit/
ExecStart=/var/lib/gems/2.3.0/gems/puma-3.10.0/bin/puma -C /var/lib/gems/2.3.0/gems/puma-3.10.0/lib/puma.rb
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
